*{
   font-family:'robbot';
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
:root {
   --violet-color:#9356DC;
   --main-color-rose:#FF79DA;
   --main-color:#99E2D0;
   --font-title:style-font:var(--font-title)shrikhand
}


.mobilefirst {
   display: flex;
   flex-direction: column;
   width: 375px center;
}
/****** container du header ***********/
.logo {
   display: flex;
   flex-direction: column;
   align-items: center;
     
   
}
.img__logo{
   width: 162px;
   height: 44px;
   margin-bottom: 20px;
   
}
.buttonsearch{
   display: flex;
   justify-content: center;
   width: 375px;
   height: 50px;
   background-color: #f2f2f2;
   padding: 20px;
   
}
.button__icon {  
   
  border: none;
  object-fit: cover;
 
  
   
   
}
.button__text {
   font-size: 20px;
   border: 0px;
   background-color: #f2f2f2;
   font-weight: bold;
  padding-left: 10px;
   
}
/****** container reservation ***********/
.reservation {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   

}
.reservbutton {
   
   display: inline-block;
  padding: 10px 20px;
  background-color: var(--main-color-rose);
  border-radius: 33px;
  color: white;
  text-align: center;
  text-decoration: none;
   width: 322px;
   height: 72px;
   font-size: bold;

}

/****** container fonctionnement ***********/
.fonctionnement {
   display: flex;
   align-items: center;
   flex-direction: column;
      gap: 15px;
      margin-bottom: 30px;
}
.fonctionnement form {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin: 0;
 }
.fonctionnement .card {
   display: inline-block;
   text-align: center;
   background-color:rgb(243, 239, 239);
   width: 322px;
    height: 72px;
   border-radius: 33px;
   padding: 10px 20px;
   
}
   .fonctionnnement .title {
      display: flex;
   justify-content: flex-start;

   }
   

.fonction__icon {
    
   border: none;
   align-items: center;
   justify-content: center;
   width: 100%;
   font-size: 8px;;
   border: 2px;
   background-color: #f2f2f2;
   font-weight: bold;
   
}
   
   
 
  
   


/****** container restaurants ***********/
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(204, 204, 204);
  
  
}
.restaurants__card {
   
}
.restaurants__card img {
   max-width: 100%;
   max-height: auto;
   object-fit: fill;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}
.restaurants__card .title {
   margin-top: 0px;
   margin-left: 0px;
   margin-bottom: 40px;
   background-color: white;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   padding: 15px;
   filter: drop-shadow(0px 0px 010px rgba(0, 0, 0, 0.1));
   box-sizing: border-box;
   }

/****** container footer ***********/
.footer {
   font: var(--font-title);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   color: white;
   background-color: rgb(26, 24, 24);
   padding: 15px;
}